{% extends 'base-lista.html.twig' %}


{% block table_rows %}
	{% for riga in lista %}
		<tr>
			<td>
				{{ riga.first_name }} {{ riga.last_name }}
			</td>
			<td>
				{{ riga.address }}
			</td>
			...
		</tr>
	{% endfor %}
{% endblock table_rows %}